sliderlabeled {
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    & .topbar {
        justify-content: space-between;

        & .title {
            font-family: Poppins;
            font-weight: 200;
            color: #90a4ad;
        }

        & .entry {
            cursor: pointer;

            & label {
                font-family: Poppins;
                font-weight: 200;
                color: #90a4ad;
            }
        }
    }
}